*.swp
*.log
*.log.*
*.log-*
*.db
.devcontainer/.vscode-server/*
recorded/*
thumbnail/*.jpg
data/streamfiles/*
.DS_Store
config/*
!config/*.template
!config/*.sample.yml
!config/enc-qsv-h264.js
data/*.json
data/*.db-shm
data/*.db-wal
data/upload/*
data/*.db-shm
data/*.db-wal
drop/*.log
node_modules
dist
.cache
data/upload/*
data/key/*
!.gitkeep
