[Unit]
Description=EPGStation
Wants=mirakc.service
After=network.target mirakc.service

[Service]
Type=simple
User=root
WorkingDirectory={{ epgstation_dir }}
ExecStart=/usr/bin/node dist/index.js
Restart=always
RestartSec=10
Environment="NODE_ENV=production"

[Install]
WantedBy=multi-user.target
