[Unit]
Description=mirakc
# Ensures the network is up before starting the API
After=network.target
# Crucial for LXC: Wait until the Proxmox bind mount for /dev/dvb is fully established
RequiresMountsFor=/dev/dvb

[Service]
ExecStart=/usr/local/bin/mirakc -c /etc/mirakc/config.yml
Restart=always
Type=simple
StandardOutput=journal
StandardError=journal
SyslogIdentifier=mirakc
Environment="RUST_LOG=info,mirakc=debug"

[Install]
WantedBy=multi-user.target
